<div class="container">
  <div class="d-flex mx-auto mb-4">
    <form action="/filter" method="GET" class="ml-5 d-flex justify-content-between form-control">
      <input type="number" name="year" placeholder="年份" class="border-0" required value={{year}}>
      <input type="text" class="d-none" {{#if month}} value={{month}} {{/if}}name="month">
      <input type="text" class="d-none" {{#if category}} value={{category}} {{/if}}name="category">
      <input type="submit" class="bg-white border-0">
    </form>
    <select class="form-control mx-3 p-1 d-inline-block" onchange="window.location.href=this.value;">
      <option disabled selected value>月份</option>
      <option value="/filter?year={{year}}&month=&category={{category}}" {{#ifCond month ""}} selected {{/ifCond}}>
        不限</option>
      <option value="/filter?year={{year}}&month=01&category={{category}}" {{#ifCond month "01"}} selected {{/ifCond}}>
        一月</option>
      <option value="/filter?year={{year}}&month=02&category={{category}}" {{#ifCond month "02"}} selected {{/ifCond}}>
        二月</option>
      <option value="/filter?year={{year}}&month=03&category={{category}}" {{#ifCond month "03"}} selected {{/ifCond}}>
        三月</option>
      <option value="/filter?year={{year}}&month=04&category={{category}}" {{#ifCond month "04"}} selected {{/ifCond}}>
        四月</option>
      <option value="/filter?year={{year}}&month=05&category={{category}}" {{#ifCond month "05"}} selected {{/ifCond}}>
        五月</option>
      <option value="/filter?year={{year}}&month=06&category={{category}}" {{#ifCond month "06"}} selected {{/ifCond}}>
        六月</option>
      <option value="/filter?year={{year}}&month=07&category={{category}}" {{#ifCond month "07"}} selected {{/ifCond}}>
        七月</option>
      <option value="/filter?year={{year}}&month=08&category={{category}}" {{#ifCond month "08"}} selected {{/ifCond}}>
        八月</option>
      <option value="/filter?year={{year}}&month=09&category={{category}}" {{#ifCond month "09"}} selected {{/ifCond}}>
        九月</option>
      <option value="/filter?year={{year}}&month=10&category={{category}}" {{#ifCond month "10"}} selected {{/ifCond}}>
        十月</option>
      <option value="/filter?year={{year}}&month=11&category={{category}}" {{#ifCond month "11"}} selected {{/ifCond}}>
        十一月</option>
      <option value="/filter?year={{year}}&month=12&category={{category}}" {{#ifCond month "12"}} selected {{/ifCond}}>
        十二月</option>
    </select>

    <select class="form-control ml-1 p-1 float-right d-inline-block" onchange="window.location.href=this.value;">
      <option disabled selected value="/">類別</option>
      <option value="/filter?year={{year}}&month={{month}}&category=" {{#ifCond category ""}} selected
        {{/ifCond}}>
        不限</option>
      <option value="/filter?year={{year}}&month={{month}}&category=domestic" {{#ifCond category "domestic"}} selected {{/ifCond}}>
        家居物業</option>
      <option value="/filter?year={{year}}&month={{month}}&category=traffic" {{#ifCond category "traffic"}} selected {{/ifCond}}>
        交通出行</option>
      <option value="/filter?year={{year}}&month={{month}}&category=recreation" {{#ifCond category "recreation"}} selected
        {{/ifCond}}>
        休閒娛樂</option>
      <option value="/filter?year={{year}}&month={{month}}&category=diet" {{#ifCond category "diet"}} selected {{/ifCond}}>
        餐飲食品</option>
      <option value="/filter?year={{year}}&month={{month}}&category=others" {{#ifCond category "others"}} selected {{/ifCond}}>
        其他</option>
    </select>
  </div>
  <h5 class="p-1 w-75 mx-auto">總金額：</h5>
  <div id="total-amount" class="text-right w-75 mx-auto" style="color: coral; font-size: 70px;">0</div>
</div>
<div class="list-group container">
  {{#if records}}
  <table class="table table-striped table-borderless mx-5">
    <tbody>
      {{#each records}}
      <tr class="record">
        <td class="align-middle">
          <div class="category">{{this.category}}</div>
        </td>
        <td class="align-middle">
          <div class="item">
            <h5 class="name">{{this.name}}</h5>
            <small class="date">{{this.date}}</small>
          </div>
        </td>
        <td class="align-middle px-5">{{this.merchant}}</td>
        <td class="align-middle amount px-5">{{this.amount}}</td>
        <td class="justify-content-end pl-5">
          <a href="/records/{{this.id}}/edit" class="btn btn-link text-info pt-3">修改</a>
          <form action="/records/{{this.id}}?_method=DELETE" method="POST" style="display: inline-block;"
            onsubmit="if(confirm('確定刪除？')) return true; else return false">
            <button type="submit" class="btn btn-link text-danger pt-3">刪除</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <h3 class="text-center my-5">無符合條件的帳目。</h3>
  {{/if}}
  <div class="w-75 mx-auto">
    <a href="/" class="btn btn-outline-dark text-white w-25 d-inline-block float-right"
      style="background-color: grey;">顯示所有項目</a>
    <a href="/records/new" class="btn btn-outline-dark text-white w-50 d-inline-block float-right mr-5"
      style="background-color: coral;">新增支出</a>
  </div>
</div>